    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../public/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Search our spaces:</h1>
        <%= form_tag("search", method: "get") do %>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-2 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <%= label_tag(:laser_cutter, "Laser Cutter") %>
            <%= check_box_tag(:laser_cutter, true) %>
          </div>
          <div class="col-xs-6 col-sm-2 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <%= label_tag(:three_d_printer, "3D Printer") %>
            <%= check_box_tag(:three_d_printer, true) %>
          </div>
          <div class="col-xs-6 col-sm-2 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <%= label_tag(:cnc_router, "CNC Router") %>
            <%= check_box_tag(:cnc_router, true) %>
          </div>
          <div class="col-xs-6 col-sm-2 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <%= label_tag(:sewing_maching, "Sewing Machine") %>
            <%= check_box_tag(:sewing_maching, true) %>
          </div>
          <div class="col-xs-6 col-sm-2 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <%= label_tag(:microcontroller_library, "Microcontroller Lib") %>
            <%= check_box_tag(:microcontroller_library, true) %>
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="col-xs-6 col-sm-3 placeholder">
            <%= label_tag(:q, "State:") %>
            <%= text_field_tag(:state) %>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <%= label_tag(:q, "City:") %>
            <%= text_field_tag(:city) %>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <br />
            <%= submit_tag("Search") %>
          </div>
        </div>
        <% end %>

        <h2 class="sub-header">Maker Spaces:</h2>
        <div class="table-responsive"> <!-- Begin table-responsive-->

          <%= render 'table' %>

        </div>  <!-- End table-stripe -->
      </div>  <!-- End table-responsive -->

    </div>
  </div>
<%= link_to 'New Space', new_space_path %>
</body>
