<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
      <h1 class="page-header">Search our spaces:</h1>
      <%= form_tag("search", method: "get") do %>
      <div class="row placeholders">
        <div class="col-xs-6 col-sm-2 placeholder">
          <%= image_tag 'LaserCutterIcon.png', size: "200", class: 'img-responsive', alt: 'laser cutter graphic' %>
          <%= label_tag(:laser_cutter, "Laser Cutter") %>
          <%= check_box_tag(:laser_cutter, true) %>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
          <%= image_tag 'ThreeDPrinterIcon.png', size: "200", class: 'img-responsive', alt: 'three dimensional printer graphic' %>
          <%= label_tag(:three_d_printer, "3D Printer") %>
          <%= check_box_tag(:three_d_printer, true) %>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
          <%= image_tag 'CncrouterIcon.png', size: "200", class: 'img-responsive', alt: 'cnc router graphic' %>
          <%= label_tag(:cnc_router, "CNC Router") %>
          <%= check_box_tag(:cnc_router, true) %>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
          <%= image_tag 'SewMachineIcon.png', size: "200", class: 'img-responsive', alt: 'sewing machine icon graphic' %>
          <%= label_tag(:sewing_maching, "Sewing Machine") %>
          <%= check_box_tag(:sewing_maching, true) %>
        </div>
        <div class="col-xs-6 col-sm-2 placeholder">
          <%= image_tag 'MicrocontrollerLibraryIcon.png', size: "200", class: 'img-responsive', alt: 'microcontroller libry graphic' %>
          <%= label_tag(:microcontroller_library, "Microcontroller Lib") %>
          <%= check_box_tag(:microcontroller_library, true) %>
        </div>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= label_tag(:q, "State:") %>
          <%= text_field_tag(:state) %>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <%= label_tag(:q, "City:") %>
          <%= text_field_tag(:city) %>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <br />
          <%= submit_tag("Search") %>
        </div>
      </div>
      <% end %>

      <h2 class="sub-header">Maker Spaces:</h2>
      <!-- Begin table-responsive-->
      <div class="table-responsive">
        <%= render 'table' %>
      </div><!-- End table-responsive-->
    </div>
  </div>
  <div class="footer">
  <p>&copy; MakerMatch 2014</p>
</div>
</div>


<%= link_to 'New Space', new_space_path %>
