<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Laser Cutter</th>
      <th>3D Printer</th>
      <th>CNC Router</th>
      <th>Sewing Maching</th>
      <th>Microcontroller Library</th>
    </tr>
  </thead>
  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td>
          <%= link_to space.name, space %></td>
        </td>
        <td><%= space.city %></td>
        <td><%= space.state %></td>
        <td class="text-center">
          <span class="glyphicon glyphicon-ok <%= 'hidden' unless space.laser_cutter? %>"></span>
        </td>
        <td class="text-center">
          <span class="glyphicon glyphicon-ok <%= 'hidden' unless space.three_d_printer? %>"></span>
        </td>
        <td class="text-center">
          <span class="glyphicon glyphicon-ok <%= 'hidden' unless space.cnc_router? %>"></span>
        </td>
        <td class="text-center">
          <span class="glyphicon glyphicon-ok <%= 'hidden' unless space.sewing_maching? %>"></span>
        </td>
        <td class="text-center">
          <span class="glyphicon glyphicon-ok <%= 'hidden' unless space.microcontroller_library? %>"></span>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
