<h1>Listing spaces</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Laser cutter</th>
      <th>3d printer</th>
      <th>Cnc router</th>
      <th>Sewing maching</th>
      <th>Microcontroller library</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.city %></td>
        <td><%= space.state %></td>
        <td><%= space.laser_cutter %></td>
        <td><%= space.3d_printer %></td>
        <td><%= space.cnc_router %></td>
        <td><%= space.sewing_maching %></td>
        <td><%= space.microcontroller_library %></td>
        <td><%= link_to 'Show', space %></td>
        <td><%= link_to 'Edit', edit_space_path(space) %></td>
        <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
