<h1>Search Our Spaces:</h1>

<br />
<br />

<%= form_tag("search", method: "get") do %>
<!--   <br />
  <strong>What tools do you think your maker space will need?<strong>
  <br /> -->
  <br />
  <%= label_tag(:laser_cutter, "Laser Cutter") %>
  <%= check_box_tag(:laser_cutter) %>
  <br />
  <%= label_tag(:three_d_printer, "3D Printer") %>
  <%= check_box_tag(:three_d_printer) %>
  <br />
  <%= label_tag(:cnc_router, "CNC Router") %>
  <%= check_box_tag(:cnc_router) %>
  <br />
  <%= label_tag(:sewing_maching, "Sewing Machine") %>
  <%= check_box_tag(:sewing_maching) %>
  <br />
  <%= label_tag(:microcontroller_library, "Microcontroller Library") %>
  <%= check_box_tag(:microcontroller_library) %>

  <br />
  <br />
  <%= label_tag(:q, "State:") %>
  <%= text_field_tag(:state) %>
  <br />
  <%= label_tag(:q, "City:") %>
  <%= text_field_tag(:city) %>
  <br />
  <%= submit_tag("Search") %>
  <br />
<% end %>

<br />
<br />
<br />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Laser Cutter</th>
      <th>3D Printer</th>
      <th>CNC Router</th>
      <th>Sewing Maching</th>
      <th>Microcontroller Library</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.name %></td>
        <td><%= space.city %></td>
        <td><%= space.state %></td>
        <td><%= space.laser_cutter ? image_tag "check.jpg", width: "10", height: "10": image_tag "empty.jpg", width: "10", height: "10"  %></td>
        <td><%= space.three_d_printer  ? image_tag "check.jpg", width: "10", height: "10": image_tag "empty.jpg", width: "10", height: "10" %></td>
        <td><%= space.cnc_router  ? image_tag "check.jpg", width: "10", height: "10": image_tag "empty.jpg", width: "10", height: "10" %></td>
        <td><%= space.sewing_maching  ? image_tag "check.jpg", width: "10", height: "10": image_tag "empty.jpg", width: "10", height: "10" %></td>
        <td><%= space.microcontroller_library  ? image_tag "check.jpg", width: "10", height: "10": image_tag "empty.jpg", width: "10", height: "10" %></td>

        <td><%= link_to 'Show', space %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
