<h1>We found <%= @spaces.count %> spaces for you:</h1>
<br />
<br />
<br />
<br />

<%= form_tag("/search", method: "get") do %>
  <!--   <br />
  <strong>What tools do you think your maker space will need?<strong>
  <br /> -->
  <br />
  <%= label_tag(:laser_cutter, "Laser Cutter") %>
  <%= check_box_tag(:three_d_printer) %>
  <br />
  <%= label_tag(:three_d_printer, "3D Printer") %>
  <%= check_box_tag(:three_d_printer) %>
  <br />
  <%= label_tag(:cnc_router, "CNC Router") %>
  <%= check_box_tag(:three_d_printer) %>
  <br />
  <%= label_tag(:sewing_maching, "Sewing Machine") %>
  <%= check_box_tag(:three_d_printer) %>
  <br />
  <%= label_tag(:microcontroller_library, "Microcontroller Library") %>
  <%= check_box_tag(:three_d_printer) %>

  <br />
  <br />
  <%= label_tag(:q, "State:") %>
  <%= text_field_tag(:state) %>
  <br />
  <%= label_tag(:q, "City:") %>
  <%= text_field_tag(:state) %>
  <br />
  <%= submit_tag("Search") %>
  <br />
<% end %>

<br />
<br />
<br />

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Laser Cutter</th>
      <th>3D Printer</th>
      <th>CNC Router</th>
      <th>Sewing Maching</th>
      <th>Microcontroller Library</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td><%= space.city %></td>
        <td><%= space.state %></td>
        <td><%= space.laser_cutter %></td>
        <td><%= space.three_d_printer %></td>
        <td><%= space.cnc_router %></td>
        <td><%= space.sewing_maching %></td>
        <td><%= space.microcontroller_library %></td>

        <td><%= link_to 'Show', space %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space', new_space_path %>
