<p id="notice"><%= notice %></p>

<h2>Location:</h2>

<p>
  <strong>City:</strong>
  <%= @space.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @space.state %>
</p>


<br />
<br />
<br />
<br />

<h2>Features:</h2>

<% if @space.laser_cutter %>
<p>
  <strong>Laser Cutter</strong>
</p>
<% end %>

<% if @space.three_d_printer %>
<p>
  <strong>3D Printer</strong>
</p>
<% end %>

<% if @space.cnc_router %>
<p>
  <strong>CNC Router</strong>
</p>
<% end %>

<% if @space.sewing_maching %>
<p>
  <strong>Sewing Machine</strong>
</p>
<% end %>

<% if @space.microcontroller_library %>
<p>
  <strong>Microcontroller Library</strong>
</p>
<% end %>

<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
