<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53662439-1', 'auto');
  ga('send', 'pageview');

</script>

<h1>Listing makers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Space</th>
      <th>Tools</th>
      <th>Skills</th>
      <th>Bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @makers.each do |maker| %>
      <tr>
        <td><%= maker.name %></td>
        <td><%= maker.location %></td>
        <td><%= maker.space %></td>
        <td><%= maker.tools %></td>
        <td><%= maker.skills %></td>
        <td><%= maker.bio %></td>
        <td><%= link_to 'Show', maker %></td>
        <td><%= link_to 'Edit', edit_maker_path(maker) %></td>
        <td><%= link_to 'Destroy', maker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maker', new_maker_path %>
